 /* TABLET */
@media screen and (max-width:1024px) {
	.page-content .primary-content {
		float: right;
		margin-bottom: 0;
		width: 73.5%;
	}
}


 /* Mobile */
@media only screen and (max-width: 767px) {
	.page-content #secondary {
		float: none;
		margin-left: -10px;
		margin-right: -10px;
		max-width: none;
		padding-bottom: 10px;
		padding-top: 10px;
		position: static;
		width: auto;
	}

	.account-home.settings p {margin-bottom: 0;line-height: 1.5em;}
	#main .login-box, .mobile #main .account-box {width: 100%;}
		.forgot-password {clear: both;}
		.section-header a {float: none;clear: left;position: static;display: block;}
	
	
	.item-option.option-add-to-cart form {width: 100%;padding: 0;}
		.mobile-only.account-header {font-size: 1.385em;margin-top: 18px;font-family: NeoSansStd-Regular;}
	.mobile-only.account-header .account-logout {display: block;float: right;font-size: 11px;color: #5e5850;font-style: italic;text-align: right;}
		.mobile-only.account-header .account-logout br {line-height: 16px;}
	.content-asset ul.account-options li {float:none;width: auto;}
	.order-history-header button {font-size:1em;padding:.25em;}
	.pt_account .section-header h3,
	#shipping-address .inner {max-width: none;}
	
	.item-image.four.columns{width: 50%;}
	.item-option.option-quantity-desired.two.columns {float: left;width: 15%;}
	.item-option.option-priority.ten.columns {width: 85%;float: left;}
	

	#private-list button {width: 100%;}
	
	.ui-dialog .columns .form-row {width: 100%; margin: 0 0 5px 0;}
	.form-row.form-row-button {margin: 25px 0;}
	
	
	#divTrackBack {margin:20px 0;}
	
}

 /* Secondary Mobile */
@media only screen and (max-width: 480px) {
	.item-dashboard.four.columns {margin-top: 15px;}
}