
/*login & checkout */
.login-box-content .form-row-button{margin-left:0;width:100%;}
#main #login-guest-checkout button {background: none;text-transform: uppercase;text-decoration: underline;font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;font-size: 0.923em;color: #0e79be;text-align: left;width: auto;padding: 0;margin: 0;}
	
/*payment-methods */
.payment-list fieldset {float: left;}
.payment-list ul li {float: none;margin: 0;padding: 0;width: auto;height: auto;}
.payment-list li ul {margin: 0;padding: 0;}
.payment-list li {height: 115px;}
	

/*account modals */
.ui-dialog .ui-dialog-title {display: none;}
#dialog-container {height: auto !important;}

#reset-password .row-inline {display: block;margin-bottom: 20px;width: 100%;}
#reset-password button {float: right;width: 244px;margin-bottom: 0;}

/* TODO: DELETE THIS AND ADD CHANGES TO PATTERNLAB
	These changes are to temporarily update and fix the table within tracklabel.isml when we removed the break-apart styling
*/
.account table {
	border-collapse:collapse;
}

.account table th {
	background-color: #d8d8d8;
	max-width: unset;
	display: table-cell;
}
