.mobile #dw-sf-control, .mobile .x-shadow {display: none !important;}

/* Tablet
================================================== */
@media only screen and (max-width: 1024px) {
	/* Show/hide helpers for tablet */
	.tablet-only,
	.desktop-hide {display: block;}
	.no-tablet,
	.tablet-hide,
	.desktop-only {display: none !important;}
	.gift-certificate-purchase {width:100%;}
	/* Overall grid containers */
	.grid-container {
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		margin: 0;
		padding: 0 10px;
		width: 100%;
	}
	#wrapper {
		min-width: 0;
	}
	
	.swipe-wrap {width: 100% !important;}
	
	.primary-focus .primary-content,
	.primary-focus #secondary {
		float: none;
		width: 100%;
	}
	
	.button-fancy-large {
		padding-left: 70px;
		padding-right: 70px;
	}
	/* CART UPDATES */
	#secondary .grey-box {
		margin-left: -10px;
		margin-right: -10px;
	}
	.grey-box h2 {
		margin-top: 0;
	}

	
	.page-content .primary-content {
		float: none;
		margin-bottom: 30px;
		width: auto;
	}
	.page-content #secondary {
		margin-right: 0;
	}
	
	/* PDP */
	.pdp-main .product-col-1 {
		margin-bottom: 20px;
		width:54%;
	}
	.pdp-main .product-col-2 {
		width: 44%;
	}
	
	/* PRODUCT SET */
	.pdp-main .product-set-list .product-set-image {
		width: 43%;
	}
	.pdp-main .product-set-list .product-set-details {
		width: 46%;
	}
	
	/* SEARCH RESULTS */
	
	/* CATEGORY LANDING */
	#customer-favorites .item {
		width: 33.33%;
	}
	
	/* SUBCATEGORY LANDING */
	ul.search-result-items {
		margin-right: 0;
	}
	/*ul.search-result-items .grid-tile {
		margin-right: 1.8%;
		width: 31.5%;
	}*/
	.product-tile .product-swatches.open li.s-toggle.last {
		display: initial;
	}
}

/* tablet portrait */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
	
}




/* #Mobile
================================================== */
@media only screen and (max-width: 767px) {
	.desktop-view,
	.desktop-thumbs {display:none;}

	.offset {display: none;}



/* -- mobile PPD image thumbs --*/
.pdp-main .product-thumbnails li {border: 1px solid #6d665f; -webkit-border-radius: 7px;-moz-border-radius: 7px;border-radius: 7px; display: inline-block;   float: left; height: 12px; margin: 14px 6px 0px 0px;  overflow: hidden; padding: 0 !important; width: 12px; background-color: #fff; }
.pdp-main .product-thumbnails li.selected {background-color: #1678bd; border: 1px solid #6d665f; height: 12px; width: 12px;}
.product-thumbnails { width: 100%; }
.product-thumbnails ul{ overflow: hidden; width: 172px; margin: 0px auto; }
.product-primary-image img.primary-image { width: 100%; } 
.js #pdpMain .zoomPad { width: 100%; }

#thumbnails li.thumb { float: none; display: inline-block; }
#thumbnails > ul { text-align: center; }
		
	/* Stop mobile font-size adjustments */
	/* ------------------------------------- */
	
	body {		
		-webkit-text-size-adjust: none;
	}
	
	/* Ensure no content extends beyond page wrapper */
	/* ------------------------------------- */
	
	/*div,img {max-width:100%}*/
	
	#main,
	#home-wrapper {
		position: relative;
		z-index: 1;
	}
	#main {
		background: #fff;
		min-height: 0;
	}
	/*mobile ------------------------------------ */
	.mobile-only {
		display: block;
	}
	.tablet-only,
	.no-mobile,
	.mobile-hide {
		display: none !important;
	}
	
	img[align=left],
	img[align=right],
	.content-asset .product-tile {
		display: block;
		float: none;
		margin: 20px 0;
		width: auto;
	}
	img[align=left],
	img[align=right],
	.content-asset .product-tile .product-image {
		margin-left: auto;
		margin-right: auto;
	}
		/*--------- home page ----------- */
	.home-featured>.grid-container {padding-bottom: 0;}
	.home-featured .product-tile {margin-bottom: 20px;}

	/* Adjust the forms to be more mobile-friendly */
	/* ------------------------------------- */
	
	/* Primary page regions: remove padding, update width */
	/* ------------------------------------- */
	#primary {padding-top: 0 !important;}
	.print-page,
	a.tooltip,
	#tooltip {display:none !important;}
	.tooltip {font-size:.9em;}
	.form-field-tooltip {float:none;margin:0 0 10px 5px;width:auto;}

	
	#wrapper{border:0; max-width:100%;}
	#primary{background:none;border:0 !important;float:none;margin:0;padding-left:0 !important;}
	.col-1,.col-2{float:none;width:100%;}
	.scrollable {height:auto;}
	.scrollable li {float:left;}
	.scrollable li a {border:1px solid #d9d9d9;display:block;padding:.2em .8em;}
	
	/* Header elements need to be re-positioned */
	/* ------------------------------------- */
	
	/*HEADER UPDATES */

    header.grid-container,
	header .inner {
		height: auto;
		min-height: 50px;
		overflow: visible;
	}

	#heros h2 {font-size: 1.286em;font-size: 1.286em;padding: 30px 0 0px 0;margin: 0;}
	
	.home-featured h2 {font-size: 1.714em;margin: 0 10px 10px 10px;}
	
	.home-featured .product-tile {
		width: 100%;
	}
	.home-featured .product-tile > div,
	.home-featured .product-tile > a {
		width: 220px;
		margin: auto;
		display: block;
		box-sizing: border-box;
	}
	
	/*search results */
	
	/* Navigation adjusted, stacked so it's easier to use */
	/* ------------------------------------- */
	
	#main-menu-link {
		display: none;
	}
	
	/* quickview */
	/* ------------------------------------- */
	.mobile #quickviewbutton {display: none !important;}
	.quickview .product-col-2.product-title { width: 100%; } 
	.quickview .product-col-2.product-detail { width: 80%; }
	.ui-dialog.quickview .product-col-1 { width: 80%; margin: 20px 0; }
	
	
	
	
	

	/* Swipe slider */
	/* ------------------------------------- */
	.swipe {overflow: hidden;visibility: hidden;position: relative;height: 323px;padding: 0 !important;}
	.swipe-wrap {position: relative;display: table;}
	/*swipe element */
	.swipe-wrap .product-tile {float:left;width:100% !important;position: relative; margin: 0;box-sizing:border-box;-moz-box-sizing: border-box;}
	
	/* Accordion */
	/* ------------------------------------- */
	.accordion .content {max-height: 0;overflow: hidden;-webkit-backface-visibility: hidden;-webkit-transition: max-height .6s ease;-moz-transition: max-height .6s ease;-ms-transition: max-height .6s ease;-o-transition: max-height .6s ease;transition: max-height .6s ease;}
 		.accordion.open .content {max-height: 10000px;-webkit-backface-visibility: hidden;-webkit-transition: max-height 2.5s ease;-moz-transition: max-height 2.5s ease;-ms-transition: max-height 2.5s ease;-o-transition: max-height 2.5s ease;transition: max-height 2.5s ease;}
 		.control:after {content: "+";display: block;position: relative;top: -17px;padding-left: 95%;height: 0;}
 			.accordion.open .control:after {content: "-"}
	
	/* Grid, product tile layout adjustments */	
	/* ------------------------------------- */
	
	/*ul.search-result-items .grid-tile {
		margin: 0 0 30px 0;
	}*/
	.grid-tile .product-tile h3 {margin: 5px 0 0 0;}
	.grid-tile .product-tile h3 a {font-size: 18px;}
	.product-tile {
		height: auto;
	}
	.wide-tiles .product-tile .product-image{width:41%;}
	.wide-tiles .product-tile .product-name, .wide-tiles .product-tile .product-pricing, .wide-tiles .product-tile .product-promo, .wide-tiles .product-tile .product-swatches {float: right;}
	.wide-tiles .product-tile .product-name h2 { margin-top:0px}
	
	.product-listing-1x4 ul.search-result-items .grid-tile {margin:2%; width: 92%;}
	
	/* Pdp */
	/* ------------------------------------- */

	#pdpMain {
		padding-top: 5px;
	}
	.pt_product-details .primary-content {padding-bottom: 68px;}
	#product-nav-container {bottom: 0;width:100%;}
	#product-nav-container div {width: 60px;}
	#product-nav-container div.product-next {float:right;}
	#product-nav-container .divided span {border:0;}
	.pdp-main .product-col-1,
	.pdp-main .product-col-2,
	.pdp-main .product-name	 {
		clear:both;
		float:none;
		margin: 0 0 10px 0;
		width:100%;
	}
	.product-detail .product-number{
		top:1.6em;
	}
	.pdp-main .product-name {font-size: 20px;margin-bottom:5px;}
	.product-primary-image .badge {
		text-align:right;
		max-width: 100%;
	}
	.product-primary-image .badge img {
		max-width: 70px;
	}
	.pdp-main .product-variations li.attribute {
		clear: none;
		float: none;
		overflow: visible;
		width: 100% !important;
		margin: 21px 0;
	}
	.pdp-main .promotion .promotion-title {font-size:86%;}
	.pdp-main #specs .attribute {width: 100%;}
	.pdp-main .attribute h3, 
	.pdp-main .attribute .label {font-size: .9em;width:35%;}
	.pdp-main .attribute .value {width: 60%;}
	.pdp-main .attribute span.value {font-size:.9em;}
	.pdp-main .product-add-to-cart .inventory {width: 100%; margin:0 0 25px;}
	.pdp-main .product-add-to-cart .product-price {font-size: 2em;padding:30px 10px;text-align:left;width: 100%;}
	.pdp-main .product-add-to-cart button {clear:both;width:100%;}
	.pdp-main .product-tabs #tab1 {
		width: auto;
	}

	.pdp-main .product-set-list .product-set-image img {max-width: 90%;}
	.pdp-main .product-set-list .block-add-to-cart .inventory {margin:0; width:23%;}
	.pdp-main .product-set-list .block-add-to-cart .product-price {font-size: 1em;width:44%;}
	.pdp-main .prSnippetTitle {float:left;}
	.pdp-main .prSnippetRatingUnclickable {float:left;}
	
	.product-service-links a {font-size: 11px;}
	.pdp-main .product-actions {margin: 30px 0;}
	.pdp-main .product-detail .product-price, .pdp-main .product-set-details .product-price {font-size: 16px;}
	.pdp-main select.variation-select {font-size: 12px;}
	.pdp-main .attributes-error {margin: 0 0 15px 0;}
	
	.productdetail.selectable-landing .product-box {
		width:95%;
	}
	
	.pdp-main .product-actions .brooks-guarantee {
		margin:0
	}
	
	.pdp-main .product-actions li#shoe-advisor, .pdp-main .product-actions li#chatlive { padding: 15px 0 0; text-align: center; }
	
	/* Outfit */
	/* ------------------------------------- */
	.pdp-main .product-set-list .product-name a {font-size: 18px;}

	/* Cart: tables need to be broken up and cells stacked */
	/* ------------------------------------- */
	td.item-details .item-edit-details {
		margin-top: 20px;
	}
	.cart-actions{margin:auto;overflow:hidden;}
	
	.pdp-main .product-col-1{margin-left:0;}
		

	/* Gift certificates */
	/* ------------------------------------- */
	
	.gift-certificate-purchase .content-asset,
	.gift-certificate-purchase form {float:none;width:100%;}
	.gift-certificate-purchase .cert-amount .form-caption {width: 80%}
	#gc-checkbalance {margin-top: 14px;display: block;}
	
	/* Gift registry */
	/* ------------------------------------- */
		
	.page-content-tab-navigaton button {width:100%;}
	
	/* report tables */
	/* ------------------------------------- */

	table.item-list .item-image,
	table.item-list .item-details,
	table.item-list .item-availability,
	table.item-list .item-dashboard {display:inline-block;}
	table.item-list .item-image {width: 30%;}
	table.item-list .item-details{width: 50%;}
	table.item-list .item-availability {width: 97%;}
	table.item-list .item-dashboard {width: 97%;}
	table.item-list .delete-registry {text-align:center;}
	table.item-list th.section-header {background-image:none;}
	.list-table-header {padding: 1em !important;}
	.list-table-header .button {display:block;margin:20px 0;width: 196px;}
	.list-table-header p {display:none;}
	.list-table-header button {display:block;width: 260px;}
	
	/* Homepage assets */
	/* ------------------------------------- */

	.home-bottom-left {width: 100% !important;}	
	.home-bottom-center {width:100% !important;}	
	.home-bottom-right {clear:both;float:none;width: 100% !important;}	
	.home-bottom-right .product-tile{min-height:0;}
	.product-tile .product-image {
		height:auto;
		max-width: 90%;
		text-align: center;
	}
	#email-alert-signup {margin:0;text-align:center;width: 100%;}
	#email-alert-signup label {text-align:center;width: 100%;}
	#email-alert-signup input[type="text"] {float:none;margin:0;width:50%;}
	#email-alert-signup input[type="image"] {float:none;vertical-align: bottom;}
	.facebook-registration {left:-3px;}
	.facebook-registration,.facebook-registration .fb_iframe_widget,.facebook-registration .fb_iframe_widget span,.facebook-registration .fb_iframe_widget span iframe {position:relative;width:100.7% !important;}

	input[type="text"],
	.input-text {
		margin: 0;
		text-indent:5px;
	}
	
	/* CATEGORY PAGES */
	#customer-favorites .item {
		width: 50%;
	}
	
	/* ERROR PAGES */
	.running-couple {
		background: none;
	}
	.error-page-message {
		margin-right: 0;
	}
	.pt_content .content-asset .col-1,
	.pt_content .content-asset .col-2 {
		margin-bottom: 40px;
	}
	
	.countryText.x-small--bold {
		display: inline-block;
    	position: static;
    	float: none !important;
    	font-size: 13px;
	}
	
}
/*mobile phone only */
@media only screen and (max-width: 480px) {
	.product-tile .product-image {width: auto;max-width: none;}
	.ui-dialog #pdYouTube { width: auto !important; }
}

/* #Clearing
================================================== */

/* Self Clearing Goodness */
.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
	
   /* #Offsets
================================================== */

.offset {height: 1px;}


/*--------- tablet ---------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {

	/*footer */
	h4#site-map, h4#support {display:none;}
	
	.scroll-wrapper {
		position: absolute; 
		right: 0; 
		bottom: 0; 
		left: 0;
		top: 0;
		-webkit-overflow-scrolling: touch;
	  	overflow-y: scroll;
	
		/* important:  dimensions or positioning here! */
	}
	
	.scroll-wrapper iframe {
		height: 100%;
		width: 100%;
	}
}
/* tablet portrait */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
	/* login form */
	.grid-container .six.forgot-password,
	.grid-container .six.remember-me,
	.grid-container .six.forgot-password,
	.grid-container .six.remember-me {
		float: none;
		text-align: left;
		width: auto;
	}
}

 /* Mobile */
@media only screen and (max-width: 767px) {
	body {overflow-x: hidden;}
	#main {padding-top: 0; top:0 !important;}
	.grid-container .grid-container {padding: 0;}



	/* HELPER FUNCTIONS TO SHOW-HIDE ON VARIOUS DEVICES */
	.no-layout-change {width: initial !important;}

	/* Navigation */
	#wrapper {
		
		-webkit-backface-visibility: hidden;
		-webkit-transition: -webkit-transform .25s ease;
		-moz-transition: -moz-transform .25s ease;
		-o-transition: -o-transform .25s ease;
		transition: transform .25s ease;
		z-index: 10;
	}
	
	.icon-cart {padding: 8px 0px;width: 30px; float: right;}
	 
	 .no-mobile {
	 	display: none;
	 }

	.form-row {width: 100%;}
	/*--------- home page ----------- */
	.home-featured>.grid-container {padding-bottom: 0;}

	/*--------- footer mobile ---------- */
	.control a:hover {text-decoration: none!important;color: #f7ce00 !important;cursor: default;}
	#mobile-localization {float: left;margin: 0 0 12px 0;padding: 0 0 0 30px;background-position: 0px -189px;height: 14px;line-height: 13px;}
	#mobile-intl-localization {float: left;margin: 0 0 12px 0;}

	/*home-page */
	.html-slot-container div:first-child {width: 100%; text-align: center;}
	.html-slot-container div:nth-child(2) {display: none;}
	
	.desktop-hide {
		display: block !important;
	}
	
	.desktop-socicon-hide {
		display: inline-flex !important;
	}
	
	.desktop-center {
		text-align: initial;
	}
}




 /* Secondary Mobile */
@media only screen and (max-width: 480px) {
	.item-dashboard.four.columns {margin-top: 15px;}
}
